bin/
/_CPack_Packages
/doc/doxyxml
/doc/html
virtualenv
/Testing
/install_manifest.txt
*~
*.a
*.so*
*.zip
cmake_install.cmake
CPack*.cmake
fmt-*.cmake
CTestTestfile.cmake
CMakeCache.txt
CMakeFiles
Makefile

build/
build-*/
build_*/
.vs
ipch/
*.aps
*.VC.db
*.VC.opendb

*.lnk
run-msbuild.bat