build/
build-*/
build_*/
*.lnk
.vs/
ipch/
*.aps
*.VC.db
*.VC.opendb

.vscode/

*.iml
.idea/
.externalNativeBuild/
.gradle/
gradle/
gradlew*
local.properties

bin/
/_CPack_Packages
/CMakeScripts
/doc/doxyxml
/doc/html
virtualenv
/Testing
/install_manifest.txt
*~
*.a
*.so*
*.xcodeproj
*.zip
cmake_install.cmake
CPack*.cmake
fmt-*.cmake
CTestTestfile.cmake
CMakeCache.txt
CMakeFiles
FMT.build
Makefile
run-msbuild.bat
